<%- include('../partials/start-container') %>
<h1 class="text-center">Edit Campground</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PATCH" method="POST" novalidate class="needs-validation" enctype="multipart/form-data" id="main-form">
            <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="campground[title]" id="title" class="form-control" value="<%= campground.title %>" required>
            </div>
            <div class="mb-2">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="campground[location]" id="location" class="form-control" value="<%= campground.location %>" required>
            </div>
            <div class="mb-2">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" min="0" name="campground[price]" class="form-control" id="price" value="<%= campground.price %>" required>
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea name="campground[description]" id="description" class="form-control" required><%= campground.description %></textarea>
            </div>
            <div class="mb-2">
                <label for="image" class="form-label">New images</label>
                <input type="file" name="image" class="form-control" id="image" multiple>
                <label class="form-label">Max file size: 10MB</label>
            </div>
            <h2 class="h5 mt-3">Choose Images</h2>
            <div class="row">
                <% for(let i=0;i<campground.image.length;i++){ %>
                    <div class="col-6">
                        <div class="card">
                            <img src="<%=campground.image[i].path%>" class="card-img-top">
                            <div class="card-body">
                                <label for="include<%=i%>" class="form-check-label">Include:</label>
                                <input type="checkbox" name="include[<%=i%>]" checked id="include<%=i%>" class="form-check-input">
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="mt-2">
                <button class="btn btn-success">Submit</button>
                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">Back</a>
            </div>
            <!-- <div class="mb-2">
                <a href="/campgrounds/<%= campground._id %>">Campground</a>
            </div> -->
        </form>
    </div>
</div>
<script src="/minified/js/fileSizeLimit.js"></script>
<%- include('../partials/end-container') -%>