<%- include('../partials/start-container') %>
<link rel="stylesheet" href="/minified/css/starability-checkmark.min.css">
<link rel="stylesheet" href="/minified/css/campgrounds/show.css">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <% for(let i=0;i<campground.image.length;i++){ %>
                        <li data-bs-target="#slideshow" data-bs-slide-to="<%=i%>" <%if(i===0){%>class="active"<%}%>></li>
                    <% } %>
                </ol>
                <div class="carousel-inner">
                    <% for(let i=0;i<campground.image.length;i++){ %>
                        <div class="carousel-item <%if(i===0){%>active<%}%>">
                            <img src="<%=campground.image[i].path%>" class="d-block w-100">
                        </div>
                    <% } %>
                </div>
                <a href="#slideshow" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a href="#slideshow" class="carousel-control-next" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2 class="h5"><%=campground.title%></h2>
                    </li>
                    <li class="list-group-item">
                        <%=campground.description%>
                    </li>
                    <li class="list-group-item">
                        $<%=campground.price%>/night
                    </li>
                    <li class="list-group-item text-muted">
                        <%=campground.location%>
                    </li>
                    <% if(campground.author.equals(user)){ %>
                        <li class="list-group-item">
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                            <a href="/campgrounds/<%= campground._id %>/delete" class="btn btn-danger">Delete</a>
                        </li>
                    <% } %>
                </ul>
        </div>
        <h2 class="h4 mt-3">About Author</h2>
        <div class="card">
            <div class="row g-0">
                <div class="col-4">
                    <img src="<%=campground.author.profilePhoto.path || '/images/noprofilepic.jpg'%>" class="img-fluid card-img">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h3 class="h5"><%=campground.author.username%></h3>
                        <p><%=campground.author.email%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id='map' style='width: 100%; height: 300px;' class="mt-3 mt-md-0"></div>
        <% if(user){ %>
            <form class="mt-3 needs-validation" action="/campgrounds/<%=campground._id%>/reviews" method="POST" novalidate>
                <h2 class="h4">Add a review</h2>
                <div>
                    <fieldset class="starability-checkmark">
                        <input id="no-rate" type="radio" class="input-no-rate" name="review[rating]" value="0" checked>
                        <input id="rate1" type="radio" name="review[rating]" value="1">
                        <label for="rate1"></label>
                        <input id="rate2" type="radio" name="review[rating]" value="2">
                        <label for="rate2"></label>
                        <input id="rate3" type="radio" name="review[rating]" value="3">
                        <label for="rate3"></label>
                        <input id="rate4" type="radio" name="review[rating]" value="4">
                        <label for="rate4"></label>
                        <input id="rate5" type="radio" name="review[rating]" value="5">
                        <label for="rate5"></label>
                    </fieldset>
                </div>
                <div id="review-text-div">
                    <label for="body" class="form-label">Review</label>
                    <textarea name="review[body]" id="body" class="form-control" placeholder="Review" required></textarea>
                </div>
                <button class="btn btn-success mt-2">Submit</button>
            </form>
        <% } %>
        <h2 class="mt-3 h4">Reviews <span class="badge bg-dark rounded-pill"><%=campground.reviews.length%></span></h2>
        <% for(let review of campground.reviews){ %>
            <div class="card mb-2">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="<%= review.author.profilePhoto.path || '/images/noprofilepic.jpg' %>" class="img-fluid card-img">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h3 class="h5"><%=review.author.username%></h3>
                            <p class="starability-result" data-rating="<%=review.rating%>"></p>
                            <p class="mb-0"><%=review.body%></p>
                            <% if(user && review.author.equals(user)){ %>
                                <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-sm mt-3">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<script>
    const mbxToken = '<%=process.env.mbxToken%>';
    const coordinates = [<%=campground.geometry.coordinates[0]%>,<%=campground.geometry.coordinates[1]%>]
</script>
<script src="/minified/js/map.js"></script>
<%- include('../partials/end-container') %>