<%- include('../partials/start-container') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Settings</h1>
            <div class="list-group mt-4">
                <div class="list-group-item">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" disabled value="<%=user.username%>">
                </div>
                <div class="list-group-item">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" class="form-control" disabled value="<%=user.email%>">
                </div>
                <div class="list-group-item">
                    Profile Photo
                    <img src="<%= user.profilePhoto.path || '/images/noprofilepic.jpg' %>" style="display: block;" class="my-2 rounded img-fluid">
                    <div>
                        <form action="/change-profile-photo" method="POST" enctype="multipart/form-data" novalidate class="needs-validation" id="main-form">
                            <input type="file" class="form-control" id="profile-photo-input" name="profile-photo" required>
                            <button class="btn btn-dark mt-2">Change Profile Photo</button>
                        </form>
                    </div>
                    <% if(user.profilePhoto.path){ %>
                        <form action="/remove-profile-photo" method="POST">
                            <button class="btn btn-danger mt-2">Remove Profile Photo</button>
                        </form>
                    <% } %>
                </div>
                <div class="list-group-item">
                    <a href="/settings/change-password" class="btn btn-danger">Change password</a>
                    <a href="/settings/delete" class="btn btn-danger">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/minified/js/fileSizeLimit.js"></script>
<%- include('../partials/end-container') %>